.asset {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
}

.selectedAsset {
  cursor: pointer;
  img {
    padding: 0 10px;
  }
  span {
    padding-right: 10px;
  }
}

.image {
  width: 40px;
}

.search {
  width: 100%!important;
  padding: 0 0 8px 0!important;
  text-indent: 10px;
  border-bottom: 1px solid #fff;
}